{% extends "base.html" %}
{% block content %}
                <div class="col-md-10 mx-auto">
                    <h1>PhishBuster</h1>
                    <form action={{url_for('check')}} method="POST">
                        <div class="form-group ">
                            <label for="name" >Enter URL:</label><br>
                            <!-- To take url input from the user -->
                            <center><input class="form-control col-7 rounded " type="url" name="inurl"></center>
                        </div>
                        <div class="form-group">
                            <label for="name">Select the site:</label><br>
                            <center>
                                <select name="seurl" class='form-control col-7 rounded'>
                                    <!-- For showing values in drop down menu -->
                                    {% for u in selecturl %} 
                                    <option value={{u[1]}}>{{u[0]}}</option> 
                                    {% endfor %}
                                </select>
                            </center>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-default">Start Scan</button>
                    </form>
                </div>
    {% endblock %}
