{% extends "base.html" %}
{% block content %}
    <header class="masthead" id='home' style="background: url({{ url_for('static', filename='assets/img/bg.jpg') }})"><div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <h1>PhishBuster</h1>
                    <form action={{url_for('check')}} method="POST">
                        <div class="form-group ">
                            <label for="name" >Enter URL:</label><br>
                            <!-- To take url input from the user -->
                            <center><input class="form-control col-7 rounded " type="text" name="inurl"></center>
                        </div>
                        <div class="form-group">
                            <label for="name">Select the site:</label><br>
                            <center>
                                <select name="seurl" class='form-control col-7 rounded'>
                                    <!-- For showing values in drop down menu -->
                                    {% for u in selecturl %} 
                                    <option value={{u[1]}}>{{u[0]}}</option> 
                                    {% endfor %}
                                </select>
                            </center>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-default">Start Scan</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center content-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About PhishBuster</h2>
                    <p>It is an open source project on&nbsp;<a href="http://github.com/VFXGamer/PhishBuster">Github</a>.
                    <br>Aim of the project is to reduce <a href="https://www.phishing.org/what-is-phishing">phishing</a> victims.&nbsp;</a>
                    <br>How to use:<br>You just have to paste the url in the <i>Enter the url</i> section and select the site it resembles or it is supposed to be. and click on <i>START SCAN</i> and it will let you know it is a phishing site or not.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center content-section" id="contribute" style="background: url({{ url_for('static', filename='assets/img/bg.jpg') }})">
        <div class="container">
            <div class="col-md-10 mx-auto">
                <h1>Want to contribute</h1>
                <p>This is an <a href="https://opensource.com/resources/what-open-source">open source</a> project. Feel free to join us.<br>Click on <i>reports</i> and report them to their respective domain name registrar.
                    <br>Thank You</p>
                <li class="list-inline-item">
                    <a class="btn btn-primary btn-lg btn-default" role="button" href="http://github.com/VFXGamer/PhishBuster"><span class="network-name">Join Us</span></a>
                    <a class="btn btn-primary btn-lg btn-default" role="button" href="/reports"><span class="network-name">reports</span></a>
                </li>
            </div>
        </div>
    </section>
    <section class="text-center content-section" id="contact" style="height: 451px;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <h2>Contact us</h2>
                    <p>If you have any queries or suggestions conatact me on Twitter, feel free to connect with us.<br>
                        If you found a bug don't forget to report it on github issues tab.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item"><a class="btn btn-primary btn-lg btn-default" role="button" href="http://github.com/VFXGamer/PhishBuster"><i class="fa fa-github fa-fw"></i><span class="network-name">&nbsp;github</span></a>&nbsp;<a class="btn btn-primary btn-lg btn-default" role="button" href="https://twitter.com/VFXGamer_1"><i class="fa fa-twitter fa-fw"></i><span class="network-name">&nbsp;Twitter</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="map-clean"></div>
    {% endblock %}
