{% extends "base.html" %}
{% block content %}
<body id="page-top">
    <header class="masthead" id='home' style="background: url({{ url_for('static', filename='assets/img/bg.jpg') }})">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <table class="table table-hover table-dark">
                            <thead>
                              <tr>
                                {% for h in head %}
                                <th scope="col">{{ h }}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                                {% for row in reports %}
                                <tr> 
                                    {% for cell in row %}
                                    <td>{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </header>
    </div>
    </section>
    <div class="map-clean"></div>
    {% endblock %}
