{% extends "base.html" %}
{% block content %}
                    <div class="col">
                        <table class="table table-hover table-dark">
                            <thead>
                              <tr>
                                {% for h in head %}
                                <th scope="col">{{ h }}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                                {% for row in reports %}
                                <tr> 
                                    {% for cell in row %}
                                    <td>{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
    {% endblock %}
