{% extends "base.html" %}
{% block content %}
<body id="page-top">
    <header class="masthead" id='home' style="background: url({{ url_for('static', filename='assets/img/bg.jpg') }})">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class='display-4'>It is a <a href="https://www.phishing.org/what-is-phishing">safe</a> site</h1>
                        <p>Click <a href="/">here</a> to return to home.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
